<%= nav_bar fixed: :top, brand: "Ninety Ten" do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_item "About Us", colleges_aboutus_path %>
        <%= menu_item "Contact", colleges_contact_path %>
        <%= menu_item "college information", colleges_path %>
    <% end %>
<% end %>
    
    <br>
    
    <br>
    
    <h3> contact us on facebook and twitter </h3>
    
    <html>
    
    <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <style>
    .fa {

padding: 20px;

font-size: 30px;

width: 200px;

text-align: center;

text-decoration: none;

margin: 5px 2px;

}

.fa:hover {

opacity: 0.7;

}

.fa-facebook {

background: #3B5998;

color: white;

}

.fa-twitter {

background: #55ACEE;

color: white;

}

</style>

</head>

<body>

<strong>

<a href="https://www.facebook.com/osidigital/" class="fa fa-facebook"><h5>osi digital</h5></a>

<a href="https://twitter.com/osi_digital" class="fa fa-twitter"><h5>osi digital</h5></a>

</strong>

</body>

</html>